<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Clinic Companion</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <!-- VENDOR SCRIPTS -->
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>

</head>

<body>
  <div id="floating-panel" class="center-align">
     <input id="address" type="textbox" value="Sydney, NSW">
     <input id="submit" type="button" value="Geocode">
   </div>
   <div class="floatMap">
   <div id="map"></div>
  </div>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkucwHjlesE88fzV0H4Dgn-S4JeIiS9XA&callback=initMap">
  </script>

    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger modal-test right" href="#modalNewClinic">Admin</a>

    <!-- Modal Structure -->
    <div id="modalNewClinic" class="modal">
        <div class="modal-content">
            <section id='newClinicForm' class="container">
                <form>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="address1">Address 1</label>
                        <div class="col-md-4">
                            <input id="textinput" name="address1" type="text" placeholder="20 Main St" class="form-control input-md">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="address2">Address 2</label>
                        <div class="col-md-4">
                            <input id="textinput" name="address2" type="text" placeholder="Building 2" class="form-control input-md">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="address3">Address 3</label>
                        <div class="col-md-4">
                            <input id="textinput" name="address3" type="text" placeholder="Suite 7" class="form-control input-md">
                        </div>
                    </div>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-4">
                    <button id="submitNewClinicBtn" name="singlebutton" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
        </fieldset>
        </form>
        </section>
    </div>
</body>

</html>
