html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.fullPageContainer {
  height:100%;
}

.header {
  color:#ee6273!important;
  font-weight: 300!important;
}

.noMargin {
  margin:0!important;
}

.noPadding {
  padding:0!important;
}

.subHeader {
  font-size:275%;
}

.costs{
    width: 400px;
    height: 200px;
    overflow: hidden;
    background-size: cover;
}

img {
  height:auto;
  width:auto;
}

#map {
  height: 100%;
}

.modal-test {
  position:absolute;
    top:0;
    right:0;
    float:right;
}
#floating-panel {
  /*position: absolute;*/
  margin:auto;
  top: 1%;
  /*width: auto;*/
  /*left: 25%;*/
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  /*border: 1px solid #999;*/
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
li {
  opacity: 0;
      font-size: 1vh;
  /*color:red;*/
  /*flex-shrink: 20;*/
}

.flowText {
  font-size:3vh!important;
}

.learnMoreButtonContainer {
    background-color: blue;
    font-size:1vh;
    font-size:1vw;
}

.resultsCard {
  /*height:20px;*/
}

/*.resultsContainer {
  position:absolute !important;
  bottom:0 !important;
  left:50% !important;
}*/
/*
.resultsRow{
  height:20%!important;
}*/

.submitNewStoryButton {
  
}

.cardContainer {
  width:100%!important;
  height:20%!important;
  margin:50px!important;
  /*bottom:0;
  float: left!important;*/
}

.storyHeadline {
  display: inline;
}

#resultContainer {
  /*position:absolute;*/
  background-color:red;
}
.resultsRow {
  /*height:50%*/
  position:absolute;
  bottom: -5%;
  left:20%;
  width:60%;
  display:flex;
}
.floatMap {
  z-index: 1000000;
  /*position: fixed;*/
  top: 15%;
  margin:auto;
  width: 80%;
  height: 60%;
  /*margin-left: +100%;*/
  /*border-style: solid;*/
  /*border-right: 0px;
  border-width: 4px;
  border-radius: 3px;
  border-color: #ff00e4;*/
}
